/* */
/* includes padding when setting element sizes for the entire document*/
* {
    box-sizing:border-box
}

/* declare a color set globally to be called later */
:root {
    --primary: rgb(67, 26, 214);
    --secondary: rgb(214, 0, 168);
    --accents: rgb(255, 208, 0);
}




nav {
    display: flex;
    
}